:root {
  --main-font-family-1: "Montserrat", sans-serif;
  --main-font-family-other: "Carter One", serif;
  --arabic-font-family: "Tajawal", sans-serif;
  --main-transition: 0.3s;
  --main-transition-2: 0.5s ease-in-out;
  --background-color: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(214, 254, 241) 80.16%, rgb(255, 255, 255) 100%);
  --main-color: #019d91;
  --main-color-2: #00ddb3;
  --main-color-3: #F01543;
  --main-color-4: #9ce17f;
  --main-color-5: #f8fafc;
  --hover-color: #00c1a2;
  --hover-color2: #FE724C;
  --success-color: #73EC8B;
  --text-color: #8d8d8d;
  --border-color: #019d91;
}




main {
  padding: 0 !important;
}

/* -------------------------- Start Login Section -------------------------- */

.login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--background-color);
}


.login_section .box_section {
  background-color: white;
  border-radius: 10px;
  border: 1.2px solid #F4F4F6;
  padding: 30px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 30px 70px -24px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-block: 40px;

}


.login_section .box_effect_icon {
  position: absolute;
  top: 40px;
  right: 40px;
}


.login_section .box_effect_icon .icon {
  width: 50px;
}


.login_section .logo {
  max-width: 150px;
  margin-bottom: 10px;
}


.login_section .tit {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}


.login_section .Form_login {
  display: flex;
  flex-direction: column;
}


.login_section .form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.login_section #emailHelp {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}


.login_section .btn-primary {
  background: var(--main-color-3);
  border: none;
  padding: 12px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.login_section .btn-primary:hover {
  background: var(--hover-color2);
}


.login_section .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.3s;
}

.login_section .google-btn:hover {
  background: #f1f1f1;
}


.login_section.google-btn img {
  width: 18px;
  margin-right: 10px;
}


.login_section .forgot-password {
  color: var(--main-color-3);
  font-size: 14px;
  text-decoration: none;
  float: right;
  margin-top: -25px;
}

.login_section .forgot-password:hover {
  text-decoration: underline;
  color: var(--hover-color2);
}

.login_section .switch_box {
  font-size: 14px;
  color: #777;
  margin-top: 15px;
}

.login_section .switch_box a {
  color: #f91e4e;
  text-decoration: none;
  font-weight: bold;
}

.login_section .switch_box a:hover {
  text-decoration: underline;
}

.box_input_password {
  position: relative;
  display: flex;
  align-items: center;
}

.box_input_password input {
  width: 100%;
  padding-right: 40px;
  margin: 0 !important;
}

.eye_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.eye_icon:hover {
  color: #333;
}


/* -------------------------- End Login Section -------------------------- */



/* profile Page */

.profileSection {
  position: relative;
  min-height: 100vh;
  background: var(--background-color);
}

.profileSection .header_profile {
  padding: 14px 18px;
  background: #12161b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profileSection .header_profile .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileSection .header_profile .title_page {
  color: white;
  font-weight: 700;
  margin: 0;
}


.profileSection .toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-block: 10px;
  border: 1px solid #d5d5d551;
  background-color: var(--main-color-5);
  padding: 8px;
}

.profileSection .toolbar .user_info {
  opacity: .8;
  color: black;
  font-weight: bold;
}



.profileSection  form.create_rooms {
  background: #141925;
  border: 1px solid #222a36;
  border-radius: 14px;
  padding: 12px;
  /* display: none; */
}

.profileSection form.create_rooms .box_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileSection  .form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
  width: 100%;
}

.profileSection  .profileSection .form-group input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #2a3342;
  background: #0f1319;
  color: #eef;
}

.profileSection  .separator {
  background-color: var(--main-color-5);
}

.profileSection .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 12px;
}

.profileSection .room {
  background: #141925 !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 6px;
  padding: 12px;
  color: white !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.profileSection .room .room-header {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.profileSection .room .btn {
  color: white;
}

.profileSection .room small {
  opacity: .8;
}

.profileSection .empty {
  opacity: .8;
  background: var(--main-color-5);
  border: 1px dashed #2a3342;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
}

.profileSection .title_section {
  color: black;
  width: fit-content;
  border-bottom: 2px solid #d5d5d551 ;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.profileSection .join_code b {
  font-size: 0.75rem;
}

.profileSection .listEmployeesRoom {
  gap: 6px;
}

.profileSection  .employee_room {
  cursor: pointer;
  border-width: 1px !important;
  border-radius: 3px ;
  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  -ms-border-radius: 3px ;
  -o-border-radius: 3px ;
}
.profileSection  .employee_room  a{
  cursor: pointer;
}



.profileSection .activationBtn {
  position: fixed ;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.profileSection .activationBtn.online {
  background-color: #28a745;
}
.profileSection .activationBtn.online:hover {
  background-color: #218838;
}

.profileSection .activationBtn.offline {
  background-color: #dc3545;
}

.profileSection .activationBtn.offline:hover {
  background-color: #c82333;
}

.profileSection .activationAlert {
  position: fixed;
  background-color: var(--main-color-3);
  color: white;
  padding: 12px 18px;
  border-radius: 16px;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 280px;
  line-height: 1.4;
  z-index: 9999;
  display: none;
}


.profileSection .activationAlert.active {
  bottom: 65px;
  right: 40px;
  animation: fadeInUp 0.4s ease-out;
  display: block;
}

.profileSection .activationAlert::after {
  content: "";
  position: absolute;
  bottom: -9px;         /* يخليه تحت الفقاعة */
  right: 25px;           /* تقدر تغيّرها لتوسيط السهم */
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: var(--main-color-3) transparent transparent transparent;
}

/* حركة دخول لطيفة */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.profileSection .activationAlert span {
  font-weight: 800;
  font-size: 18px;
  color: var(--success-color);
}






/* back drop */


.profileSection .backdrop{
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}


.profileSection .backdrop.active{
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.459);
}

/* loading */

.inline-loader {
  color: #9ee;
  font-size: 13px;
}

.loading-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.spinner-small {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-top: 2px solid #007bff;
  /* الأزرق */
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Edit Room Page  */

.EditRoomSection {
  position: relative;
  min-height: 100vh;
  background: var(--background-color);
  padding-block: 50px;
}


.EditRoomSection .header_Section .title_page {
  font-size: 1.5rem;
  font-weight: bold;
}

.EditRoomSection .box_section .form {
  background-color: var(--main-color-5);
  border: 1px solid #d5d5d551;
  padding: 10px;
  border-radius:5px ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}

.EditRoomSection .box_section .tit_section{
  color: var(--main-color-3);
  width: fit-content;
  border-bottom: 2px solid #d5d5d551;
;
}

.EditRoomSection .box_section .room_employeesSection .emp_box{
  border-bottom: 2px solid #d5d5d551;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EditRoomSection .box_section .room_employeesSection .emp_box p {
  margin: 0;
}

















/* -------------------------- Start forgetPassword Section -------------------------- */

.forgetPasswordSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--background-color);
}


.forgetPasswordSection .box_section {
  background-color: white;
  border-radius: 10px;
  border: 1.2px solid #F4F4F6;
  padding: 30px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 30px 70px -24px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-block: 40px;

}


.forgetPasswordSection .box_effect_icon {
  position: absolute;
  top: 40px;
  right: 40px;
}


.forgetPasswordSection .box_effect_icon .icon {
  width: 50px;
}


.forgetPasswordSection .logo {
  max-width: 150px;
  margin-bottom: 10px;
}


.forgetPasswordSection .tit {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}


.forgetPasswordSection .Form_login {
  display: flex;
  flex-direction: column;
}


.forgetPasswordSection .form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}



.forgetPasswordSection .btn-primary {
  background: var(--main-color-3);
  border: none;
  padding: 12px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.forgetPasswordSection .btn-primary:hover {
  background: var(--hover-color2);
}




/* -------------------------- End forgetPassword Section -------------------------- */

/* -------------------------- Start Reset Section -------------------------- */

.ResetPasswordSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--background-color);
}


.ResetPasswordSection .box_section {
  background-color: white;
  border-radius: 10px;
  border: 1.2px solid #F4F4F6;
  padding: 30px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 30px 70px -24px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-block: 40px;

}


.ResetPasswordSection .box_effect_icon {
  position: absolute;
  top: 40px;
  right: 40px;
}


.ResetPasswordSection .box_effect_icon .icon {
  width: 50px;
}


.ResetPasswordSection .logo {
  max-width: 150px;
  margin-bottom: 10px;
}


.ResetPasswordSection .tit {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}


.ResetPasswordSection .Form_login {
  display: flex;
  flex-direction: column;
}


.ResetPasswordSection .form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}



.ResetPasswordSection .btn-primary {
  background: var(--main-color-3);
  border: none;
  padding: 12px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.ResetPasswordSection .btn-primary:hover {
  background: var(--hover-color2);
}




/* -------------------------- End Reset Section -------------------------- */





